<!DOCTYPE html>
<html>
  <head>
    <title>Best Adding Machine Ever</title>
    <link rel="stylesheet" href="/styles.css" charset="utf-8">
  </head>
  <header>
    <img src="http://image000.flaticon.com/icons/svg/148/148730.svg" style="width: 75px; margin-bottom: 20px; margin-top: 20px; margin-left: 50%;">
  </header>

<!-- where individual views should render-->
  <body>
    <%= yield %>
  </body>
</html>
